.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 255, 0.3);
}

.form {
    display: flex;
    column-gap: 8px;
}

.input {
    width: 340px;
}

.btn {
    min-width: 120px;
    color: green;
    font-size: 18px;
    background-color: aquamarine;
    transition:
        color 250ms linear,
        background-color 250ms linear;
}

.btn:hover,
.btn:focus {
    background-color: green;
    color: aquamarine;
}

.input,
.btn {
    padding: 12px 8px;
    border: none;
    border-radius: 8px;

}